<div class="container">
  <h2>Olá treinador!</h2>
  <p>
    Digite no campo de entrada o <b class="title">NOME</b> do pokemon que
    procura:
  </p>
  <input
    class="form-control"
    id="myInput"
    type="text"
    (keyup)="searchPokemon($event)"
    placeholder="Pesquise.."
  />
  <div class="row pl-0">
    <ng-container *ngFor="let item of listFilterPokemon">
      <div class="col-xl-3 my-3">
        <div class="card bx-s">
          <div class="card-body">
            <img
              class="card-img-top"
              src="{{ item.images.small }}"
              alt="Card image cap"
            />
            <h5 class="card-title mt-2 mb-0">
              <span class="title">
                {{ item.name }}
              </span>
            </h5>
            <h5 class="subtitle">
              {{ item.id }}
            </h5>
            <h5 class="card-title">
              <ng-container *ngFor="let item of item.types">
                <span class="card-alert mr-2 {{ item }}"> {{ item }}</span>
              </ng-container>
            </h5>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="my-4" *ngIf="listFilterPokemon?.length == 0 && !loadPokemons && !erroLoad">
    <h5 class="subtitle2">Nenhum Pokémon corresponde à sua pesquisa!</h5>
    <p>
      <strong clas="subttitle"
        >Experimente estas sugestões para encontrar um Pokémon:</strong
      >
    </p>
    <ul class="subtitle">
      <li><p>Reduza o número de parâmetros de pesquisa.</p></li>
      <li><p>Procure apenas por um tipo de Pokémon de cada vez.</p></li>
      <li><p>Tente procurar por tamanhos e formas diferentes.</p></li>
    </ul>
  </div>
  <div class="my-4" *ngIf="loadPokemons && !listFilterPokemon">
    <h5 class="subtitle"><i class="fas fa-load"></i>Carregando...</h5>
  </div>
  
  <div class="my-4" *ngIf="erroLoad">
    <h5 class="subtitle2"><i class="fas fa-load"></i>Falha na pesquisa, verifique o sinal da sua internet.</h5>
  </div>
</div>
